#__nuxt {
    height: 100%!important;
    width: 100%!important;
}
#__layout {
    height: 100%!important;
    width: 100%!important;
}
.ant-layout {
    height: 100%;
    width: 100%!important;
    display: flex;
}
.ant-layout-content {
    position: absolute;
    right: 0;
    width: calc(100% - 200px);
}
